<form method="post" action="/students/<%=@student.id%>/edit">

<!-- firstname -->
<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name"/>
<!-- lastname -->
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name"/>

<!--  -->house
<label for="house-select">Select a house:</label>
<select id="house-select" name= "house">
 <option value="Gryffindor">Gryffindor</option>
 <option value="Ravenclaw">Ravenclaw</option>
 <option value="Hufflepuff">Hufflepuff</option>
 <option value="Slytherin">Slytherin</option>
</select>

<!-- age -->
<label for="age">Age:</label>
<input id="age" type="number" name="age"/>

<input type="submit" value="Save Details"/>

</form>
