<h1> All students</h1>

<% for student in @students %>
  <p>Name: <%= student.pretty_name() %><p>
  <p>House: <%= student.house %><p>
  <p>Age: <%= student.age %><p>

<p><a href="/students/<%= student.id %>">Show Student</a></p>
<%end%>
